<!-- SITE-WIDE HEADER (edit once here; included on every page) -->
<header class="site-header">
  <div class="header-content">
    <img
        src="images/SC_Logo_White.png"
        alt="Stefan Cular Logo"
        class="site-logo"
      />

  <nav class="navbar">
    <a href="index.html">Home</a>
    <a href="design.html">Intro to Engg. Design</a>
    <a href="circuits.html">Circuits</a>
    <a href="signals.html">Signals</a>
    <a href="digital.html">Digital Circuits</a>
    <a href="ac-dcdifference.html">AC-DC Difference</a>
    <a href="projects.html">Projects</a>
    <a href="contact.html">Contact</a>
  </nav>
  </div>
</header>
